<div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
    <form class=" float-right mb-2 ">
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
            </div>
            <input type="search" id="default-search"
                class="block w-full p-4 ps-8 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search Mockups, Logos..." required />
        </div>
    </form>
    <h1 *ngIf="product" class="text-3xl">Product Title: {{product.title}}</h1>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-300 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
                *ngFor="let bid of product.bids| paginate:{itemsPerPage:10 , currentPage : p}">
                <td class="px-6 py-4">
                    {{bid.user.email}}
                </td>
                <td class="px-6 py-4">
                    {{bid.user.username}}
                </td>
                <td class="px-6 py-4">
                    {{bid.price}}
                </td>
                <td class="px-6 py-4">
                    {{bid.createdAt}}
                </td>
                <td class="px-0 py-4">
                    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                        (click)="handleSetBidWin(bid._id)"
                        *ngIf="bid.price === product.bidPriceMax && !bid.isWinBid">Set Bid Win</a>
                    <a class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"
                        *ngIf="bid.isWinBid">Win Bid</a>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event" class="float-right mt-3"></pagination-controls>
</div>