<app-banner></app-banner>
<section class="bg-gray-50">
  <div class="mx-auto max-w-screen-2xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
    <div class="md:flex md:items-end md:justify-between">
      <div class="max-w-xl">
        <h2 class="text-lg font-bold tracking-tight text-green-600">
          Tài Sản Đấu Giá
        </h2>

        <p class="mt-6 max-w-lg leading-relaxed text-black text-3xl">
          Đấu giá sản phẩm
        </p>
      </div>

      <a
        class="mt-6 inline-flex shrink-0 items-center gap-2 rounded-full border border-green-600 px-5 py-3 text-green-600 transition hover:bg-green-600 hover:text-white md:mt-0">
        <span class="font-medium"> Xem Toàn Bộ </span>
        <svg xmlns="http://www.w3.org/2000/svg" class="size-4 rtl:rotate-180" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
        </svg>
      </a>
    </div>
    <div class="mt-5">
      <a class="shrink-0 border-b-2 border-sky-500 px-1 text-xl  font-medium text-sky-600" aria-current="page">
        Notifications
      </a>
    </div>
    <div>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-7">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-300 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">
                Title
              </th>
              <th scope="col" class="px-6 py-3">
                Price
              </th>
              <th scope="col" class="px-6 py-3">
                Description
              </th>
              <th scope="col" class="px-6 py-3">
              Image
              </th>
              <th scope="col" class="px-6 py-3">
               Category
              </th>
              <th scope="col" class="">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of product"
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{p.title}}
              </th>
              <td class="px-6 py-4">
                {{p.price}}
              </td>
              <td class="px-6 py-4">
                {{p.description}}
              </td>
              <td class="px-6 py-4">
                {{p.image}}
              </td>
              <td class="px-6 py-4">
                {{p.category}}
              </td>
              <td class="px-1 py-4">
                <button>
                  <a [routerLink]="['/phongdaugia',p._id]" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Đấu Giá</a>
                </button>
                <button>
                  <a [routerLink]="['/view',p._id]" class="font-medium ml-4 text-blue-600 dark:text-blue-500 hover:underline">Chi Tiết</a>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>