
<h1 class="ml-6 mb-3 text-3xl text-green-500">Sản Phẩm</h1>
<div class="md:flex  2xl:px-20 md:px-6 px-4" >
  <div class="xl:w-3/4 lg:w-2/5 w-84 md:block hidden border rounded-lg p-5 bg-white" *ngIf="product">
    <img class="w-full" alt="image of a girl posing" [src]="product.image" width="50px" />
  </div>
  <div class="xl:w-3/4 md:w-1/2 lg:ml-8 md:ml-6 md:mt-0 mt-6 border rounded-lg p-5 bg-blue-200" *ngIf="product">
    <div class="border-b border-gray-200 pb-6">
      <p class="text-sm leading-none text-gray-600">{{product.category}}</p>
      <h1 class="lg:text-2xl text-xl font-semibold lg:leading-6 leading-7 text-gray-800  mt-2">{{product.title}}</h1>
    </div>
    <div class="py-4 border-b border-gray-200 flex items-center justify-between">
      <p class="text-base leading-4 text-gray-800 ">Price</p>
      <div class="flex items-center justify-center">
        <p class="text-sm leading-none text-gray-600  mr-3">{{product.price}}</p>
      </div>
    </div>

    <div>
      <p class="xl:pr-48 text-base lg:leading-tight leading-normal text-gray-600  mt-7">{{product.description}}.</p>
      <p class="text-base leading-4 mt-7 text-gray-600 ">Product Code: {{product._id}}</p>
      <p class="text-base leading-4 mt-4 text-gray-600 ">Start Time: {{product.startAt}}</p>
      <p class="text-base leading-4 mt-4 text-gray-600 ">End Time: {{product.endAt}}</p>
      <!-- <p class="text-base leading-4 mt-4 text-gray-600 ">Depth: 5.1 inches</p> -->
      <p class="md:w-96 text-base leading-normal text-gray-600  mt-4">Comment: The picture matches the comments</p>
    </div>
    <button
    [routerLink]="['/phongdaugia',product._id]"
      class=" dark:text-gray-900:bg-gray-100 mt-4 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-base flex items-center justify-center leading-none text-white bg-gray-800 w-full py-4 hover:bg-gray-700">
      Đấu Giá
    </button>
  </div>
</div>