<!-- <div class="float-right rounded-md shadow-sm mt-3" role="group">
    <button type="button"
        class="px-4 py-2 mr-0.5 text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
        <i class="fa-solid fa-bars fa-lg"></i>
    </button>
    <button type="button"
        class="px-4 py-2  text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
        <i class="fa-solid fa-border-all fa-lg"></i>
    </button>
</div> -->



<div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
    <form class=" float-right mb-2 ">   
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" id="default-search" class="block w-full p-4 ps-8 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Mockups, Logos..." required />
        </div>
    </form>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-300 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    STT
                </th>
                <th scope="col" class="px-6 py-3">
                    Biển Số
                </th>
                <th scope="col" class="px-6 py-3">
                    Giá Khởi Điểm
                </th>
                <th scope="col" class="px-6 py-3">
                    Tỉnh,Thành Phố
                </th>
                <th scope="col" class="px-6 py-3">
                    Loại Xe
                </th>
                <th scope="col" class="px-6 py-3">
                    Loại Biển
                </th>
                <th scope="col" class="px-6 py-3">
                 
                </th>
            </tr>
        </thead>
        <tbody>
            <tr [routerLink]="['/view',p.id]" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-200 dark:hover:bg-gray-600"
                *ngFor="let p of products">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{p.id}}
                </th>
                <td class="px-6 py-4">
                    {{p.bienso}}
                </td>
                <td class="px-6 py-4">
                    {{p.gia}}
                </td>
                <td class="px-6 py-4">
                    {{p.tinh}}
                </td>
                <td class="px-6 py-4">
                   {{p.loaixe}}
                </td>
                <td class="px-6 y-4">
                    {{p.loaibien}}
                </td>
                <td class="px-0 py-4">
                    <a [routerLink]="['/daugia']" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Đăng Ký Đấu Giá</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>